*{
    margin: 0;
    padding: 0;
    position: relative;
}
html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.content{
    width: 70%;
    min-width: 300px;
    margin: 0px auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f2ebe9;
    color: #d55499;
    font-family:serif;
}
header ul li{
    display: inline-block;
    list-style: none;
}
header ul li a{
    padding: 20px;
    text-decoration: none;
    color: #d55499;
    cursor: pointer;
}

#about{
    padding: 20px;
    background-color: #dbd6d0;
    overflow: hidden;
}
#about img{
    min-width: 150px;
    min-height: 150px;
    width: 40%;
    height: 40%;
    float: left;
    margin-right: 20px;
}
#about p{
    line-height: 30px;
}
#contact{
    background-color: #202020;
    padding: 20px;
    color: #dbd6d0;
}
#contact .divs{
    display: flex;
    justify-content: center;
}
#contact table tr td:first-child{
    text-align: right;
    height: 30px;
    padding: 10px;
}
#contact table{
    margin: 0 20px;
}
#contact .divs div{
    margin: 0 20px;
}
#contact .divs div input,
#contact .divs div textarea{
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
}

#projects .project{
    width: 250px;
    margin: 20px;
    box-shadow: 0 0 7px grey;
    text-align: center;
}
#projects img{
    width: 100%;
    height: 150px;
}
#projects {
    background-color: #dbd6d0;
    padding: 20px;
}
#projects .prs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#projects a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding-bottom: 5px;
}